<div class="tablemenu">
    <div class="viewselect">select</div>
    <div class="buttons">
        <DryButton Command="@AddCommand" />
        <DryButton Command="@FilterCommand" />
        <DryButton Command="@ExpandCommand" />
        <DryButton Command="@CompressCommand" />
    </div>
</div>
<Expandable @ref="@Expandable" Duration="300" Height="40">
    <div class="filtermenu">
        Huzzah
    </div>
</Expandable>
