@typeparam TItem

<div class="tablemenu">
    <div class="viewselect">select</div>
    <div class="buttons">
        <DryButton Command="@AddCommand" />
        <DryButton Command="@FilterCommand" />
        <DryButton Command="@ExpandCommand" />
        <DryButton Command="@CompressCommand" />
    </div>
</div>
<DryExpandable @ref="@Expandable" Duration="300" Height="60">
    <div class="filtermenu">
        <DryIcon Key="filter"></DryIcon>
        <DryFilter TItem="Company"></DryFilter>
        <DryButton Command="@CloseFilterCommand" />
    </div>
</DryExpandable>
