@namespace ExtraDry.Blazor.Components
@using ExtraDry.Blazor.Components.Standard
@inherits FieldBase<string>

<FieldFrame Size="@ResolvedSize" Description="@Description" ShowDescription="@ShowDescription" Label="@Label" For="@InputId" ShowLabel="@ShowLabel" IsValid="@IsValid" Message="@ValidationMessage">
    <div class="@CssClasses">
        @if(DisplayIcon) {
            <Icon CssClass="context" Key="@Icon" />
        }
        @if(IsMarkdown) {
            <Markdown Value="@Value"
                      ValueChanged="@OnMarkdownValueChanged"
                      MarkdownSupport="@MarkdownSupportType"
                      ReadOnly="@ReadOnly"
                      Placeholder="@Placeholder" />
        }
        else if(IsMultiline) {
            <textarea id="@InputId" class="value @TextSize" title="@Label" readonly="@ReadOnly" placeholder="@Placeholder" maxlength="@MaxLength"
                      @onchange="NotifyChange" @oninput="NotifyInput">@Value</textarea>
        }
        else {
            <input id="@InputId" class="value" title="@Label" type="text" readonly="@ReadOnly" placeholder="@Placeholder" maxlength="@MaxLength"
                   value="@Value" @onchange="NotifyChange" @oninput="NotifyInput" />
        }
        @if(DisplayAffordance) {
            <Icon CssClass="affordance" Key="@Affordance" />
        }
    </div>
</FieldFrame>
