@namespace ExtraDry.Blazor.Components
@inherits FieldBase<bool?>

<FieldFrame RenderMode="FieldFrameRenderMode.Inline" Size="@Size" Description="@Description" ShowDescription="@ShowDescription" Label="@Label" For="@InputId" ShowLabel="@ShowLabel" IsValid="@IsValid" Message="@ValidationMessage">
    <div class="@CssClasses">
        <input id="@InputId" class="value" title="@Label" type="checkbox" disabled="@ReadOnly" checked="@Checked" @onchange="HandleChange" @oninput="HandleInput" />
    </div>
</FieldFrame>
