@namespace ExtraDry.Blazor
@using ExtraDry.Blazor.Forms
@using ExtraDry.Blazor.Internal
@using ExtraDry.Core.Models
@typeparam T

<form class="@CssClasses" onsubmit="return false;" action="/" method="GET" @attributes="@UnmatchedAttributes" autocomplete="off">
    <CascadingValue Value="@EditMode">
        <CascadingValue Value="@this">
            @if(Model == null) {
                <progress>Loading...</progress>
            } else {
                <div class="@ModelNameSlug entity-info">
                    <Icon Key="@Description?.Icon" />
                    <label>@GetEntityInfoCaption()</label>
                </div>
                <div class="@ModelNameSlug fixed-fieldsets">
                    @foreach(var fieldset in DisplayFixedFieldsets) {
                        <DryFieldset GroupName="@fieldset.Name" />
                    }
                </div>
                <div class="@ModelNameSlug variable-fieldsets">
                    @foreach(var fieldset in DisplayVariableFieldsets) {
                        <DryFieldset GroupName="@fieldset.Name" />
                    }
                    <div class="content">
                        @ChildContent
                    </div>
                </div>
                <ValidationBoundary>
                    <div class="@ModelNameSlug entity-actions">
                        <DryButtonBar Decorator="@Decorator" Commands="@Description?.Commands" Target="@Model" />
                    </div>
                </ValidationBoundary>
            }
        </CascadingValue>
    </CascadingValue>
</form>
