@namespace ExtraDry.Blazor
@using ExtraDry.Blazor.Forms
@using ExtraDry.Blazor.Internal
@using ExtraDry.Core.Models
@typeparam T

<form class="@CssClasses" onsubmit="return false;" action="/" method="GET" @attributes="@UnmatchedAttributes" autocomplete="off">
    <CascadingValue Value="@EditMode">
        <CascadingValue Value="@this">
            @if(Model == null) {
                <progress>Loading...</progress>
            } else {
                @if(DisplayTitle) {
                    <div class="@ModelNameSlug entity-info">
                        <Icon Key="@Description?.Icon" />
                        <label>@GetEntityInfoCaption()</label>
                    </div>
                }
                @if(DisplayFixedFieldsets.Any()) {
                    <div class="@ModelNameSlug fixed-fieldsets">
                        @foreach(var fieldset in DisplayFixedFieldsets) {
                            <DryFieldset GroupName="@fieldset.Name" />
                        }
                    </div>
                }
                @if(DisplayVariableFieldsets.Any() || ChildContent != null) {
                    <div class="@ModelNameSlug variable-fieldsets">
                        @foreach(var fieldset in DisplayVariableFieldsets) {
                            <DryFieldset GroupName="@fieldset.Name" />
                        }
                        <div class="content">
                            @ChildContent
                        </div>
                    </div>
                }
                <ValidationBoundary>
                    <div class="@ModelNameSlug entity-actions">
                        <DryButtonBar Decorator="@Decorator" Model="@Model" Category="@CommandCategory" />
                    </div>
                </ValidationBoundary>
            }
        </CascadingValue>
    </CascadingValue>
</form>
