@namespace ExtraDry.Blazor
@using ExtraDry.Blazor.Forms
@using ExtraDry.Blazor.Internal
@using ExtraDry.Core.Models
@typeparam T

<form class="@CssClasses" onsubmit="return false;" action="/" method="GET" @attributes="@UnmatchedAttributes">
    <CascadingValue Value="@EditMode">
        <CascadingValue Value="@this">
            @if(Model == null) {
                <progress>Loading...</progress>
            } else {
                <div class="@ModelNameSlug entity-info">
                    <Icon Key="@Description?.Icon" />
                    <label>@GetEntityInfoCaption()</label>
                </div>
                <div class="@ModelNameSlug fixed-fieldsets">
                    @foreach(var fieldset in FormDescription?.Fieldsets?.Take(FixedFieldsets) ?? Array.Empty<FormFieldset>()) {
                        <CascadingValue Value="@fieldset">
                            <DryFieldset T="@T" OnValidationChanged="@ValidationChanged" />
                        </CascadingValue>
                    }
                </div>
                <div class="@ModelNameSlug variable-fieldsets">
                    @foreach(var fieldset in FormDescription?.Fieldsets?.Skip(FixedFieldsets) ?? Array.Empty<FormFieldset>()) {
                        <CascadingValue Value="@fieldset">
                            <DryFieldset T="@T" OnValidationChanged="@ValidationChanged"/>
                        </CascadingValue>
                    }
                    <div class="content">
                        @ChildContent
                    </div>
                </div>
                <ValidationBoundary>
                    <div class="@ModelNameSlug entity-actions">
                        <DryButtonBar Commands="@Description?.Commands" Target="@Model" PreClickCheck="@PreSubmissionCheck" />
                    </div>
                </ValidationBoundary>
            }
        </CascadingValue>
    </CascadingValue>
</form>
