@namespace ExtraDry.Blazor
@using ExtraDry.Blazor.Forms
@using ExtraDry.Blazor.Internal
@using ExtraDry.Core.Models
@typeparam T

<form class="@CssClasses" onsubmit="return false;" action="/" method="GET" @attributes="@UnmatchedAttributes" autocomplete="off">
    <CascadingValue Value="@EditMode">
        <CascadingValue Value="@this">
            @if(Model == null) {
                <progress>Loading...</progress>
            } else {
                @if(VisibleFieldsets.Any()) {
                    <div class="@ModelNameSlug fixed-fieldsets">
                        @foreach(var fieldset in VisibleFieldsets) {
                            <DryFieldset UseFields="@UseFields" GroupName="@fieldset.Name" OnChange="OnChange" />
                        }
                    </div>
                }
                <div class="content">
                    @ChildContent
                </div>
                <ValidationBoundary>
                    <div class="@ModelNameSlug entity-actions">
                        <DryButtonBar Decorator="Decorator" Model="Model" Category="@CommandCategory" />
                    </div>
                </ValidationBoundary>
            }
        </CascadingValue>
    </CascadingValue>
</form>
