@namespace ExtraDry.Blazor.Forms
@typeparam T

<div class="@CssClasses">
    @if(Icon != "") {
        <Icon CssClass="context" Key="@Icon"/>
    }
    <input class="value" title="@InputTitle" type="text" @bind="@Value" @bind:after="CallOnChange" readonly="@ReadOnly" placeholder="@PlaceholderDisplay" pattern="\d*" inputmode="numeric" @attributes="@UnmatchedAttributes" onkeydown="@DisableInvalidCharacters" />
    @if(Affordance != "" && !ReadOnly) {
        <Icon CssClass="affordance" Key="@Affordance" />
    }
</div>