@namespace ExtraDry.Blazor.Forms
@typeparam T
@inherits DryInputBase<T>

<div class="@CssClasses" @attributes="@UnmatchedAttributes">
    @if(Icon != "") {
        <Icon CssClass="context" Key="@ResolvedIcon"/>
    }
    <input class="value" title="@Property?.FieldCaption" type="text" value="@Value" readonly="@ReadOnly" placeholder="@ResolvedPlaceholder" @onchange="HandleChange" />
    @if(Affordance != "" && !ReadOnly) {
        <Icon CssClass="affordance" Key="@Affordance" />
    }
</div>
