@namespace ExtraDry.Blazor.Forms
@typeparam T

<div class="@CssClasses">
    @if(Icon != "") {
        <Icon CssClass="context" Key="@Icon" />
    }
    <input class="value" title="@InputTitle" type="@HtmlDisplayMode" value="@Value" readonly="@ReadOnly" @onchange="HandleChange" @attributes="@UnmatchedAttributes" onkeydown="@DisableSpaceWhenReadOnlyHack" />
    @if(Affordance != "" && !ReadOnly) {
        <Icon CssClass="affordance" Key="@Affordance" onclick="this.parentNode.getElementsByTagName('input')[0].showPicker()" />
    }
</div>
