@namespace ExtraDry.Blazor.Forms
@typeparam T
@inherits DryInputBase<T>

<div class="@CssClasses" @attributes="@UnmatchedAttributes">
    <input class="value" title="@Property?.FieldCaption" type="text" value="@Value" readonly="@ReadOnly" placeholder="@Placeholder" @onchange="HandleChange" />
</div>
