@namespace ExtraDry.Blazor.Forms
@typeparam T

<div class="numeric-input">
    @if(Icon != string.Empty){
        <Icon Key="@Icon"/>
    }
    <input class="@CssClasses" title="@Property?.FieldCaption" type="text" value="@Value" step="@Step" readonly="@ReadOnly" placeholder="@Property?.Display?.Prompt" min="@MinValue" max="@MaxValue" pattern="\d*" inputmode="numeric" @onchange="HandleChange" @attributes="@UnmatchedAttributes" />
    @if (Affordance != string.Empty)
    {
        <Icon Key="@Affordance" />
    }
</div>