@namespace ExtraDry.Blazor.Forms
@typeparam T

<div class="@CssClasses" onclick="this.getElementsByTagName('input')[0].showPicker()">
    @if(Icon != "") {
        <Icon CssClass="icon" Key="@Icon" />
    }
    <input class="value" title="@Property?.FieldCaption" type="@DisplayMode" value="@Value" readonly="@ReadOnly" @onchange="HandleChange" @attributes="@UnmatchedAttributes" />
    @if(Affordance != "") {
        <Icon CssClass="affordance" Key="@Affordance" />
    }
</div>
