@namespace ExtraDry.Blazor.Forms
@typeparam T
@inherits DryInputBase<T>

<div class="@CssClasses" @attributes="@UnmatchedAttributes">
    @if (ResolvedIcon != "")
    {
        <Icon CssClass="context" Key="@ResolvedIcon" />
    }
    <input class="value" title="@ResolvedTitle" type="text" value="@Value" readonly="@ReadOnly" />
    @if (ResolvedAffordance != "" && !ReadOnly)
    {
        <Icon CssClass="affordance" Key="@ResolvedAffordance" />
    }
</div>