@namespace ExtraDry.Blazor.Forms
@typeparam T
@inherits DryInputBase<T>

<div class="@CssClasses" @attributes="@UnmatchedAttributes">
    @if(ResolvedIcon != "") {
        <Icon CssClass="context" Key="@ResolvedIcon"/>
    }
    @if(ReadOnly) {
        var value = Values != null && SelectedValue != null ? Values.IndexOf(SelectedValue) : -1;
        <select class="@CssClasses readonly" disabled title="@Property?.FieldCaption" @attributes="@UnmatchedAttributes">
            <option value="@value" selected>@SelectedValue?.ToString()</option>
        </select>
    }
    else {
        <select class="@CssClasses" title="@Property?.FieldCaption" @onchange="SelectOption" @attributes="@UnmatchedAttributes">
            @if(SelectedValue == null) {
                <option value="" disabled selected>@Property?.Display?.Prompt</option>
            }
            @for(int i = 0; i < Values?.Count; ++i) {
                var value = Values[i];
                var selected = value?.Equals(SelectedValue) ?? false;
                var display = (value is IResourceIdentifiers resource) ? resource.Title : value?.ToString() ?? "-empty-";
                <option value="@i" selected="@selected">@display</option>
            }
        </select>
    }
    @if(ResolvedAffordance != "" && !ReadOnly) {
        <Icon CssClass="affordance" Key="@ResolvedAffordance" />
    }
</div>
