@typeparam TItem

<div class="tablemenu">
    <div class="viewselect">select</div>
    <div class="buttons">
        <DryButton Command="@AddCommand" />
        <DryButton Command="@FilterCommand" />
        <DryButton Command="@ExpandCommand" />
        <DryButton Command="@CompressCommand" />
    </div>
</div>
<Reveal @ref="@Reveal" Duration="300" Height="60" MaxHeight="60">
    <div class="filtermenu">
        <Icon Key="filter"></Icon>
        <DryFilter TItem="Company" Decorator="@this"></DryFilter>
        <DryButton Command="@CloseFilterCommand" />
    </div>
</Reveal>
