@namespace ExtraDry.Blazor
@using ExtraDry.Core.Models

@if (IsValidationError)
{
    <div class="@CssClasses" @attributes="@UnmatchedAttributes">
        <h4>@ProblemDetails!.Title</h4>
        <ul>
            @foreach (var msg in @GetValidationMessages())
            {
                <li>@msg</li>
            }
        </ul>
    </div>
} 
else
{
    <div class="@CssClasses" @attributes="@UnmatchedAttributes">
        <h4>A problem has occurred. Please try again</h4>
    </div>
}
