@namespace ExtraDry.Blazor

<button type="button" title="@DisplayTitle" class="@CssClasses" disabled="@Disabled" @onclick="HandleClick">
    @if(DisplayIcon) {
        <Icon CssClass="icon" Key="@Icon" />
    }
    @if(DisplayCaption) {
        <span class="content">@Caption</span>
    }
    @if(DisplayContent) {
        @ChildContent
    }
    @if(DisplayAffordance) {
        <Icon CssClass="affordance" Key="@Affordance" />
    }
</button>
