@namespace ExtraDry.Blazor
@implements IExtraDryComponent
@typeparam TItem

<div class="@CssClasses" id="@Id" @attributes="@UnmatchedAttributes"
     @onfocusin="DoFocusIn" @onfocusout="DoFocusOut" 
     @onkeydown:preventDefault="PreventDefault" @onkeypress:preventDefault="PreventDefault" @onkeyup:preventDefault="PreventDefault"
     @onkeydown="DoKeyDown" tabindex="-1">
    <label>
        @if(Icon != null) {
            <Icon Key="@Icon" />
        }
        <input type="text" name="@Name" placeholder="@Placeholder" value="@DisplayFilter" @oninput="DoFilterInput" />
        @if(ShowProgress) {
            <progress></progress>
        }
        <button class="unobtrusive" @onclick="DoButtonClick" type="button" tabindex="-1"><Icon Key="select" /></button>
    </label>
    @if(ShowOptions || DebugCss) {
        var debugStyle = DebugCss && !ShowOptions ? "display: none;" : "";
        <div class="chromium-workaround" style="@debugStyle">
            <ol class="options" id="@OptionsId">
                @{
                    int index = 0;
                    var lastGroup = string.Empty;
                    foreach(var item in InternalItems.FilteredItems) {
                        if(item == null) { 
                            continue;  
                        }
                        var selected = item.Equals(SelectedOption) ? "selected" : "";
                        int i = index;
                        var group = DisplayItemGroup(item);
                        if(Group && !lastGroup.Equals(group, StringComparison.CurrentCultureIgnoreCase)) {
                            var id = index == 0 ? DisplayFirstHeaderId : "";
                            <li id="@id" class="header">@group</li>
                            lastGroup = group;
                        }
                        <li id="@DisplayItemID(item)" class="option @selected" @onmousedown="async e => await DoMouseDown(item)" @onclick="async e => await DoItemClick(item)">@DisplayItemTitle(item)</li>
                        ++index;
                    }
                    if(ShowProgress) {
                        <li class="more"><progress></progress></li>
                    }
                    else if(MoreCount > 0) {
                        <li id="@DisplayMoreCaptionId" class="more">@DisplayMoreCaption</li>
                    }
                }
            </ol>
        </div>
    }
</div>
