@namespace ExtraDry.Blazor
@implements IExtraDryComponent
@typeparam TItem

<div class="@CssClasses" @attributes="@UnmatchedAttributes">
    <label for="@Id">
        <span class="type"></span>
        @if(Value == null) {
            <span class="placeholder-text">@Placeholder</span>
        }
        else {
            <DryMiniCard Model="@Value" />
        }
        <button class="unobtrusive" id="@Id" @onclick="@DoClick" type="button"><Icon Key="select" /></button>
    </label>
    <MiniDialog @ref="MiniDialog" CssClass="@CssClass" LoseFocusAction="MiniDialogAction.SaveAndClose" 
            AnimationDuration="@AnimationDuration" OnSubmit="@OnSubmit" OnCancel="@OnCancel"
            Title="@Title" ShowTitle="@ShowTitle">
        <FlexiSelectForm Data="@Data" MultiSelect="@MultiSelect" Value="@Value" ValueChanged="@ValueChanged" 
            Values="@Values" ValuesChanged="@ValuesChanged" ShowFilterThreshold="@ShowFilterThreshold" 
            FilterPlaceholder="@FilterPlaceholder" 
        />
    </MiniDialog>
</div>
