@namespace ExtraDry.Blazor
@typeparam TItem

<div class="@CssClasses" @attributes="@UnmatchedAttributes">
    <Button Caption="@Placeholder" @onclick="@DoClick" Affordance="select" ShowContent="@DisplayContent" ShowCaption="@DisplayPlaceholder">
        @if(Value != null)
        {
            <DryMiniCard CssClass="value only" Model="@Value" />
        }
        else if(Values?.Any() ?? false)
        {
            <DryMiniCard CssClass="value many" Model="@Values.First()" />
            @if(Values.Count > 1)
            {
                <span class="many count">(+@(Values.Count - 1))</span>
            }
        }
    </Button>
    <MiniDialog @ref="MiniDialog" CssClass="@CssClass" LoseFocusAction="MiniDialogAction.SaveAndClose" 
            AnimationDuration="@AnimationDuration" OnSubmit="@OnSubmit" OnCancel="@OnCancel"
            Title="@Title" ShowTitle="@ShowTitle">
        <FlexiSelectForm TItem="TItem" Data="@Data" MultiSelect="@MultiSelect" Value="@Value" ValueChanged="@DoValueChanged"
            Values="@Values" ValuesChanged="@ValuesChanged" ShowFilterThreshold="@ShowFilterThreshold" 
            FilterPlaceholder="@FilterPlaceholder" ShowThumbnail="@ShowThumbnail" ShowSubtitle="@ShowSubtitle"
        />
    </MiniDialog>
</div>
