@namespace ExtraDry.Blazor
@typeparam TItem where TItem : notnull

<div class="@CssClasses" @attributes="@UnmatchedAttributes">
    <Button Caption="@Placeholder" @onclick="@DoClick" Icon="@Icon" Affordance="@Affordance" ShowContent="@DisplayContent" ShowCaption="@DisplayPlaceholder">
        @if(ShowPreview) {
            if(Values?.Any() ?? false) {
                <DryMiniCard CssClass="value many" Model="@Values.First()" />
                @if(Values.Count > 1) {
                    <span class="many count">(+@(Values.Count - 1))</span>
                }
            }
            else if (Value != null) {
                <DryMiniCard CssClass="value only" Model="@Value" />
            }
        }
    </Button>
    <MiniDialog @ref="MiniDialog" CssClass="@CssClass" DebugCss="@DebugCss" LoseFocusAction="MiniDialogAction.SaveAndClose" 
            AnimationDuration="@AnimationDuration" OnSubmit="@OnSubmit" OnCancel="@OnCancel"
            Title="@Title" ShowTitle="@ShowTitle" ShowSubmitButton="@ShowSubmitButton">
        <FlexiSelectForm TItem="TItem" Data="@Data" MultiSelect="@MultiSelect" Value="@Value" ValueChanged="@DoValueChanged"
            Values="@Values" ValuesChanged="@ValuesChanged" ShowFilterThreshold="@ShowFilterThreshold" 
            FilterPlaceholder="@FilterPlaceholder" ShowThumbnail="@ShowThumbnail" ShowSubtitle="@ShowSubtitle"
        />
    </MiniDialog>
</div>
