@namespace ExtraDry.Blazor

<div class="@CssClasses" @attributes="@InputAttributes">
    @if(ShowThumbnail) {
        <img class="thumbnail" src="@Thumbnail" />
    }
    <div class="titles">
        <span class="title">@Title</span>
        @if(ShowSubtitle) {
            <span class="subtitle">@Subtitle</span>
        }
    </div>
</div>
