@namespace ExtraDry.Blazor
@implements IExtraDryComponent

@if(Visible || DebugCss) {
    var localStyle = !Visible && DebugCss ? "display: none" : "";
    <section class="@CssClasses curtain" @attributes="@UnmatchedAttributes" style="@localStyle">
        @* Tabindex is required so the outer div can get focus, then respond to events *@
        <div class="@CssClasses form" @ref="Form" @onfocusout="OnFocusOut" @onfocusin="OnFocusIn" @onkeydown="OnKeyDown" tabindex="0">
            <header>
                @if(ShowTitle) {
                    <div class="title">
                        <h3>@Title</h3>
                    </div>
                }
                @if(ShowCancelButton) {
                    <div class="item commands">
                        <button class="cancel unobtrusive" @onclick="DoCancel">@((MarkupString)CancelButtonCaption)</button>
                    </div>
                }
            </header>
            <div class="content">
                <CascadingValue Value="@this">
                    @ChildContent
                </CascadingValue>
            </div>
            <footer>
                @if(ShowSubmitButton) {
                    <div class="form commands">
                        <button class="ok primary" @onclick="DoSubmit">@((MarkupString)SubmitButtonCaption)</button>
                    </div>
                }
            </footer>
        </div>
    </section>
}
