@typeparam TModel
@namespace ExtraDry.Blazor

<div class="@CssClasses" @attributes="@UnmatchedAttributes">
    @switch(State){
        case LoadingState.Loading:
            @if (LoadingIndicator != null)
            {
                @LoadingIndicator(new SuspenseContext{Size = @Size, Reload=@Refresh})
            }
            else if (ThemeInfo?.SuspenseLoadingIndicator != null)
            {
                @ThemeInfo?.SuspenseLoadingIndicator(new SuspenseContext{Size = @Size, Reload=@Refresh})
            }
            else
            {
                <div>
                    <Spinner Size=@Size></Spinner>
                </div>
                <div>Loading...</div>
            }
            break;
        case LoadingState.Error:
            @if (ErrorIndicator != null)
            {
                @ErrorIndicator(new SuspenseContext{Size = @Size, Reload=@Refresh})
            }
            else if (ThemeInfo?.SuspenseErrorIndicator != null)
            {
                @ThemeInfo?.SuspenseErrorIndicator(new SuspenseContext{Size = @Size, Reload=@Refresh})
            }
            else
            {
                <div>
                    <Icon CssClass=@Size.ToString().ToLower() Key="loader-error" />
                </div>
                <div>An error has occurred</div>
            }
            break;
        case LoadingState.Timeout:
            @if(TimeoutIndicator != null)
            {
                @TimeoutIndicator(new SuspenseContext{Size = @Size, Reload=@Refresh})
            }
            else if (ThemeInfo?.SuspenseTimeoutIndicator != null)
            {
                @ThemeInfo?.SuspenseTimeoutIndicator(new SuspenseContext{Size = @Size, Reload=@Refresh})
            }
            else
            {
                <div>
                    <Icon CssClass=@Size.ToString().ToLower() Key="loader-timeout" />
                </div>
                <div>Timeout, <a href="" @onclick="@Refresh" @onclick:preventDefault>try again</a></div>
            }
            break;
        case LoadingState.Complete:
            @ChildContent(new SuspenseContext{Value = @Value, Size = @Size, Reload=@Refresh})
            break;
        default:
            break;
    }
</div>