@namespace ExtraDry.Blazor
@implements IExtraDryComponent

<label class="@CssClasses" for="@Id" @attributes="@UnmatchedAttributes">
    <input class="@CssClasses" id="@Id" type="checkbox" checked="@Checked" @onchange="DoChange" @onclick="OnClicked" />
    <span class="@CssClasses">@Label</span>
</label>
