@namespace ExtraDry.Blazor

<label class="tricheck @CssClass" for="@Id">
    <input class="tricheck @CssClass" id="@Id" type="checkbox" checked="@Checked" @onchange="DoChange" @onclick="OnClicked" />
    <span class="tricheck @CssClass">@Label</span>
</label>
