@namespace ExtraDry.Blazor
@implements IExtraDryComponent

<div class="@CssClasses" @attributes="@UnmatchedAttributes">
    <input id="@Id" type="checkbox" checked="@Switched" @onchange="DoChange" @onclick="OnClicked" />
    <label for="@Id">
        <span></span>
        <span>@Label</span>
    </label>
</div>
