@typeparam ValueModel
@namespace ExtraDry.Blazor

<div class="@CssClasses" @attributes="@UnmatchedAttributes">
    @switch(State){
        case LoadingState.Loading:
            @if (Loading == null)
            {
                <div>
                    <Spinner Size=@Size></Spinner>
                </div>
                <div>Loading...</div>
            }
            else
            {
                @Loading(new ValueLoaderContext{Size = @Size, Reload=@Refresh})
            }
            break;
        case LoadingState.Error:
            @if (Error == null)
            {
                <div>
                    <Icon CssClass=@Size.ToString().ToLower() Key="loader-error" />
                </div>
                <div>An error has occurred</div>
            }
            else
            {
                @Error(new ValueLoaderContext{Size = @Size, Reload=@Refresh})
            }
            break;
        case LoadingState.Timeout:
            @if(Timeout == null)
            {
                <div>
                    <Icon CssClass=@Size.ToString().ToLower() Key="loader-timeout" />
                </div>
                <div>Timeout, <a href="" @onclick="@Refresh" @onclick:preventDefault>try again</a></div>
            }
            else
            {
                @Timeout(new ValueLoaderContext{Size = @Size, Reload=@Refresh})
            }
            break;
        case LoadingState.Complete:
            @Display(new ValueLoaderContext{Value = @Value, Size = @Size, Reload=@Refresh})
            break;
        default:
            break;
    }
</div>