@namespace ExtraDry.Blazor

<div class="@CssClasses" @attributes="@UnmatchedAttributes">
    @switch(State){
        case LoadingState.Loading:
            <div>
                <Spinner Size=@Size></Spinner>
            </div>
            <div>Loading...</div>
            break;
        case LoadingState.Error:
            <div>
                <Icon CssClass=@Size.ToString().ToLower() Key="loader-error" />
            </div>
            <div>@StateMessage</div>
            break;
        case LoadingState.Timeout:
            <div>
                <Icon CssClass=@Size.ToString().ToLower() Key="loader-timeout" />
            </div>
            <div>Timeout, <a href="" @onclick="@Refresh" @onclick:preventDefault>try again</a></div>
            break;
        case LoadingState.Complete:
            <div>@Value</div>
            break;
        default:
            break;
    }
</div>