@namespace ExtraDry.Blazor

<div class="@CssClasses">
    @if(DisplayIcon) {
        <Icon Key="@Icon" CssClass="icon" />
    }
    <InputText @ref="InputText" type="text" Name="@FakeName" @bind-Value="@FreeTextFilter" placeholder="@Placeholder" @oninput="OnInput" @onfocusout="OnFocusOut" @onkeypress="OnKeyPress" spellcheck="false" />
    @if(DisplayReset) {
        <Button Icon="@ResetIcon" @onclick="OnReset" Theme="ButtonTheme.Unobtrusive" CssClass="reset" Caption="" />
    }
</div>
