@namespace ExtraDry.Blazor

<div class="@CssClasses">
    @if(DisplayIcon) {
        <Icon Key="@Icon" CssClass="icon" />
    }
    <InputText type="text" @bind-Value="@FreeTextFilter" placeholder="@Placeholder" @oninput="OnInput" @onfocusout="OnFocusOut" @onkeypress="OnKeyPress" />
    @if(DisplayReset) {
        <Button Icon="@ResetIcon" @onclick="OnReset" CssClass="unobtrusive reset" />
    }
</div>
