@namespace ExtraDry.Blazor

<div class="@CssClasses" @attributes="@UnmatchedAttributes">
    <button type="button" class="unobtrusive" @onclick="@DoClick">
        @ChildContent
    </button>
    <MiniDialog @ref="MiniDialog" CssClass="@CssClass" LoseFocusAction="MiniDialogAction.Cancel" 
            AnimationDuration="@AnimationDuration" ShowCancelButton="false" 
            ShowTitle="false" ShowSubmitButton="false" >
        <DryNavigation Menu="@Menu" MenuDepth="@MenuDepth" OnNavigated="@DoNavigation" />
    </MiniDialog>
</div>
