@namespace ExtraDry.Blazor
@typeparam TItem

<style>
    @CustomStyle
</style>
<dry-table id="@TableId" class="@CssClasses" @attributes="@UnmatchedAttributes">
    <dry-thead>
        <dry-tr>
            @if(HasCheckboxColumn) {
                <dry-th class="checkbox"><input type="checkbox" checked="@AllSelected" @onclick="@(() => ToggleSelectAll())" /></dry-th>
            }
            @if(HasRadioColumn) {
                <dry-th class="radio"></dry-th>
            }
            @foreach(var column in description.TableProperties) {
                var builder = QueryBuilderAccessor?.QueryBuilder;
                var direction = builder?.Sort.Ascending ?? true ? "ascending" : "descending";
                var sortClasses = column.Property.Name == builder?.Sort.SortProperty ? $"sort {direction}" : "";
                <dry-th class="@column.DisplayClass @sortClasses" @onclick="@(e => SortBy(column))">
                    <span>@column.ColumnCaption</span>
                    <sup class="@sortClasses"></sup>
                </dry-th>
            }
            @if(HasCommandsColumn) {
                <dry-th class="commands"></dry-th>
            }
        </dry-tr>
    </dry-thead>
    <dry-tbody>
        @if(ItemsListClient?.IsEmpty == null) {
            <dry-tr class="state @StateClass">
                <dry-td style="grid-column: 1 / @TotalColumns">
                    <div>
                        <progress />
                    </div>
                </dry-td>
            </dry-tr>
        }
        <Virtualize ItemsProvider="GetItemsAsync" ItemSize="45" @ref="VirtualContainer">
            <ItemContent>
                <DryTableRow Item="@context" Description="@description" Selection="@SelectionAccessor?.SelectionSet" Height="45" GroupColumn="@GroupColumn" />
            </ItemContent>
        </Virtualize>
    </dry-tbody>
</dry-table>
