@namespace ExtraDry.Blazor
@typeparam TItem

<style>
    @CustomStyle
</style>
<dry-table id="@TableId" class="@CssClasses" @attributes="@UnmatchedAttributes">
    <dry-thead>
        <dry-tr>
            @if(HasCheckboxColumn || HasRadioColumn) {
                <dry-th class="checkbox"></dry-th>
            }
            @foreach(var column in decorator.TableProperties) {
                var builder = QueryBuilderAccessor?.QueryBuilder;
                var direction = builder?.Sort.Ascending ?? true ? "ascending" : "descending";
                var sortClasses = column.Property.Name == builder?.Sort.SortProperty ? $"sort {direction}" : "";
                <dry-th class="@column.DisplayClass @sortClasses" @onclick="@(e => SortBy(column))">
                    <span>@column.ColumnCaption</span>
                    <sup class="@sortClasses"></sup>
                </dry-th>
            }
            @if(ShowCommands && HasCommandsColumn) {
                <dry-th class="commands"></dry-th>
            }
        </dry-tr>
    </dry-thead>
    <dry-tbody>
        @if(ItemsListClient?.IsEmpty == null) {
            <div class="loading">
                <progress />
            </div>
        }
        else if(ItemsListClient?.IsEmpty == true) {
            <div class="empty">
                <Icon Key="collection-empty" />
            </div>
        }
        <Virtualize ItemsProvider="GetItemsAsync" ItemSize="45" @ref="VirtualContainer">
            <ItemContent>
                <DryTableRow Item="@context" Decorator="@decorator" Selection="@SelectionAccessor?.SelectionSet" Height="45" GroupColumn="@GroupColumn" ShowCommands="@ShowCommands" />
            </ItemContent>
        </Virtualize>
    </dry-tbody>
</dry-table>
