@namespace ExtraDry.Blazor.Components.Internal
@typeparam T

<div class="@CssClasses" @attributes="@UnmatchedAttributes">
  @foreach(var option in SelectedOptions) { 
    <div>
      @if(EditMode != EditMode.ReadOnly) { 
        <span @onclick="@(() => DeselectOption(option.Key))">@option.Key</span> 
      }
      @option.Display
    </div>
  }
  @if(!ReadOnly) { 
    <select @onchange="SelectOption">
      <option selected="@BlankSelected"></option>
      @foreach (var option in AvailableOptions) {
        <option value="@option.Key">@option.Display</option>
      }
    </select>
  }
</div>
 