@typeparam T

<dry-tr data-uuid="@UuidValue" class="@CssClasses" @onclick="RowClick" @ondblclick="RowDoubleClick" style="height: @($"{Height}px")">
    @switch(Description.ListSelectMode) {
        case ListSelectMode.Multiple:
            <dry-td class="checkbox"><input type="checkbox" checked="@IsSelected" /></dry-td>
            break;
        case ListSelectMode.Single:
            <dry-td class="radio"><input type="radio" checked="@IsSelected" name="@RadioButtonScope" /></dry-td>
            break;
        default:
            break;
    }
    @foreach(var column in Description.TableProperties) {
        var cssClass = column.ItemDisplayClass(Item.Item);
        var displayValue = column.DisplayValue(Item.Item);
        var hyperlink = Description.HyperLinkFor(column.Property.Name);
        if(column.HasDiscreteValues) {
            var enumValue = column.GetValue(Item.Item);
            cssClass += $" {enumValue?.ToString()?.ToLowerInvariant()}";
        }
        <dry-td class="@cssClass" data-label="@column.ColumnCaption">
            @if(column.Property.Name == GroupColumn) {
                var cssAction = (Item.IsGroup, Item.IsExpanded) switch {
                    (false, _) => "child",
                    (true, false) => "collapsed",
                    (true, true) => "expanded"
                };
                @if(Item.Item is IHierarchyEntity) {
                    <DryTableHierarchyExpander Item="@Item" />
                }
                <span class="group @cssAction">@displayValue</span>
            }
            else if(hyperlink == null) {
                <span class="@cssClass">@displayValue</span>
            }
            else {
                var context = @hyperlink.Execute(Item.Item);
                if(context.Action != null) {
                    <span class="@cssClass"><a class="@context.DisplayClass" href="@context.Href" title="@context.Title" @onclick="@(async () => await context.Action(context))" @onclick:preventDefault="true">@displayValue</a></span>
                }
                else {
                    <span class="@cssClass"><a class="@context.DisplayClass" href="@context.Href" title="@context.Title">@displayValue</a></span>
                }
            }
        </dry-td>
    }
    @if(Description.ContextCommands.Any()) {
        <dry-td class="commands">
            <div class="contextCommands">
                @foreach(var command in Description.ContextCommands) {
                    <DryButton Command="@command" Model="@Item.Item" ShowIcon="true" ShowCaption="false" ShowAffordance="false" />
                }
            </div>
        </dry-td>
    }
</dry-tr>
