@typeparam T

<tr data-uuid="@UuidValue" class="@CssClasses" @onclick="RowClick" @ondblclick="RowDoubleClick" style="height: @($"{Height}px")">
    @switch(Description.ListSelectMode) {
        case ListSelectMode.Multiple:
            <td class="checkbox"><input type="checkbox" @onchange="CheckChanged" checked="@IsSelected" /></td>
            break;
        case ListSelectMode.Single:
            <td class="radio"><input type="radio" @onchange="CheckChanged" checked="@IsSelected" name="@RadioButtonScope" /></td>
            break;
        default:
            break;
    }
    @foreach(var column in Description.TableProperties) {
        var cssClass = column.DisplayClass;
        var displayValue = column.DisplayValue(Item.Item);
        var command = Description.DefaultCommandFor(column.Property.Name);
        if(column.HasDiscreteValues) {
            var enumValue = column.GetValue(Item.Item);
            cssClass += $" {enumValue?.ToString()?.ToLowerInvariant()}";
        }
        <td class="@cssClass" data-label="@column.ColumnCaption">
            @if(column.Property.Name == GroupColumn) {
                var cssGroupClass = $"level{Item.GroupDepth}";
                var cssAction = (Item.IsGroup, Item.IsExpanded) switch {
                    (false, _) => "child",
                    (true, false) => "collapsed",
                    (true, true) => "expanded"
                };
                <span class="group @cssAction @cssGroupClass" @onclick="(e => Item.Toggle())" @onclick:stopPropagation="true">@displayValue</span>
            }
            else if(command == null) {
                <span class="@cssClass">@displayValue</span>
            }
            else {
                <span class="@cssClass"><a href="" @onclick:preventDefault @onclick="async () => await command!.ExecuteAsync(Item.Item)">@displayValue</a></span>
            }
        </td>
    }
    @if(Description.ContextCommands.Any()) {
        <td class="commands">
            <div class="contextCommands">
                @foreach(var command in Description.ContextCommands) {
                    <DryButton Command="@command" Model="@Item.Item" IconOnly="true" />
                }
            </div>
        </td>
    }
</tr>
