@namespace Blazor.ExtraDry
@typeparam T
@inherits OwningComponentBase

<div class="field @CssClass @SizeClass">
    <label class="@CssClass" @onclick="ToggleDescription" title="@TextDescription">
        <span class="caption">@Property.FieldCaption</span>
        @if(Property.HasDescription) {
            <i class="description"></i>
        }
        @if(ReadOnly) { 
            <i class="read-only"></i>
        }
        @if(Editable && !Property.HasDiscreteValues) { 
            if(Property.IsRequired) {
                <i class="required"></i>
            }
            else {
                <i class="optional"></i>
            }
        }
    </label>
    @if(HasDescription && ShowDescription) {
        <span class="description @CssClass">@((MarkupString)HtmlDescription)</span>
    }
    @if(Property.HasBooleanValues) {
        var value = ((bool?)Property.GetValue(Model) ?? false) == true;
        <input type="checkbox" checked="@value" @onchange="HandleChange" />
    }
    else if(Property.HasDiscreteValues) {
        var selectedValue = Property.GetValue(Model);
        @if(ReadOnly) {
            <select class="@CssClass readonly" disabled>
                <option value="@selectedValue.ToString()" selected>@selectedValue.ToString()</option>
            </select>
        } 
        else { 
            <select class="@CssClass" @onchange="HandleChange" >
                @foreach (var value in Property.GetDiscreteValues()) {
                    var selected = value.Key?.ToString() == selectedValue?.ToString(); // force object to enum compare
                    <option value="@value.Key" selected="@selected">@value.Value</option>
                }
            </select>
        }
    }
    else if(Property.HasTextRepresentation) {
        <input class="@CssClass" type="text" value="@Value" readonly="@ReadOnly" placeholder="@Property.Display?.Prompt" @onchange="OnChange" />
    } 
    else if(LookupProviderOptions != null) {
        var selectedValue = Property.GetValue(Model);
        @if(ReadOnly) {
            <select class="@CssClass readonly" disabled>
                <option value="@selectedValue.ToString()" selected>@selectedValue.ToString()</option>
            </select>
        }
        else { 
            <select class="@CssClass" @onchange="OnChange">
                @if(selectedValue == null) {
                    <option value="" disabled selected>@Property.Display?.Prompt</option>
                }
                @foreach(var option in LookupProviderOptions) {
                    var selected = option.Equals(selectedValue);
                    <option value="@option" selected="@selected">@option.ToString()</option>
                }
            </select>
        }
    }
    else { 
        <progress>loading...</progress>
    }
    @if(!valid) {
        <span class="validation @CssClass">@validationMessage</span>
    }
</div>
