@namespace Blazor.ExtraDry

@if(Description == null) {
    <progress>loading nav</progress>
}
else {
    <nav @attributes="@InputAttributes">
        <ul>
            @if(Description.HasNavigationGroups) {
                @foreach(var group in Description.NavigationGroups) {
                    <li>
                        <div>@group</div>
                        <ul>
                            @foreach(var item in Description.NavigationsInGroup(group)) {
                                <li>
                                    <a href="@item.Href" @onclick="@item.ExecuteAsync">
                                        @if(item.HasImage) { 
                                            <img src="@item.Image" />
                                        }
                                        <DryIcon Key="@item.Icon" />
                                        <span>@item.Caption</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
            else { 
                @foreach(var item in Description.Navigations) {
                    <li>
                        <a href="@item.Href" @onclick="@item.ExecuteAsync">
                            @if(item.HasImage) { 
                                <img src="@item.Image" />
                            }
                            <DryIcon Key="@item.Icon" />
                            <span>@item.Caption</span>
                        </a>
                    </li>
                }
            }
        </ul>
    </nav>
}
