@namespace ExtraDry.Blazor.Components.Raw
@typeparam T

@if(ReadOnly) {
  <select class="@CssClass readonly" disabled>
    <option value="@SelectedOption?.Key" selected>@SelectedOption?.Display</option>
  </select>
}
else {
  <select class="@CssClass" @onchange="SelectOption">
    @if(SelectedOption == null) {
      <option value="" disabled selected>@Property.Display?.Prompt</option>
    }
    @foreach(var option in AllOptions.Values) {
      <option value="@option.Key" selected="@option.Selected">@option.Display</option>
    }
  </select>
}
