@namespace ExtraDry.Blazor
@implements IDisposable

@if (Command.IsVisible())
{
    <button class="@Command.DisplayClass" name="@Command.Method.Name" @onclick="Click" disabled="@disabled">
        @if (ShowIcon)
        {
            <i class="@QualifiedIcon"></i>
        }
        @if (ShowCaption)
        {
            <span>@Command.Caption</span>
        }
    </button>
}
