@namespace ExtraDry.Blazor
@implements IDisposable

@if (Command.IsVisible())
{
    <button class="@CssClasses" name="@Command.Method.Name" @onclick="Click" disabled="@disabled" @attributes="@UnmatchedAttributes">
        @if (ShowIcon)
        {
            <Icon Key="@Command?.Icon" />
        }
        @if (ShowCaption)
        {
            <span>@Command.Caption</span>
        }
    </button>
}
