@namespace ExtraDry.Blazor

@* Tabindex is required so the outer div can get focus, then respond to events *@
<div class="@CssClass" @onfocusout="OnFocusOut" @onfocusin="OnFocusIn" @onkeydown="OnKeyDown" tabindex="0">
    <div class="form">
        <div class="title">
            <span>Title</span>
        </div>
        <div class="item commands">
            <button>Clear</button>
        </div>
        <div class="find">
            <input placeholder="find" />
        </div>
        <div class="items">
            <table>
                @foreach(var value in Property.GetDiscreteValues()) {
                    var valueClass = $"{value.Key.ToString().ToLowerInvariant()}";
                    <tr class="@valueClass">
                        <td><input class="@valueClass" type="checkbox" @onchange="e => OnChange(e, value)" /></td>
                        <td><span class="@valueClass">@value.Display</span></td>
                    </tr>
                }
            </table>
        </div>
        <div class="form commands">
            <button>Close</button>
        </div>
    </div>
</div>
