@namespace ExtraDry.Blazor

@* Tabindex is required so the outer div can get focus, then respond to events *@
<div class="@CssClass" @onfocusout="OnFocusOut" @onfocusin="OnFocusIn" @onkeydown="OnKeyDown" tabindex="0">
    <div class="caption" @onclick="ToggleForm">
        <label>@Property.Property.Name</label>
        <DryIcon Key="chevron-down" />
    </div>
    <DryExpandable @ref="Expandable" Height="350">
        <div class="form">
            @{
                var propertyClass = $"enum {Property.Property.Name.ToLowerInvariant()}";
            }
            <ul class="@propertyClass">
                @foreach (var value in Property.GetDiscreteValues())
                {
                    var valueClass = $"{propertyClass} {value.Key.ToString().ToLowerInvariant()}";
                    <li class="@valueClass">
                        <label class="@valueClass">
                            <input class="@valueClass" type="checkbox" @onchange="e => OnChange(e, value)" />
                            <span class="@valueClass">@value.Display</span>
                        </label>
                    </li>
                }
            </ul>
        </div>
    </DryExpandable>
</div>
