@namespace ExtraDry.Blazor
@using ExtraDry.Blazor.Internal
@typeparam T

@if (Model == null)
{
    <progress>Loading...</progress>
}
else
{
    <CascadingValue Value="@EditMode">
        <CascadingValue Value="@this">
            <form class="@ModelNameWebId" onsubmit="return false;" action="/" method="GET">
                <div class="@ModelNameWebId entity-info">
                    <DryIcon Key="@Description.Icon" />
                    <label>Company</label>
                </div>
                <div class="@ModelNameWebId status-properties">
                    @foreach (var fieldset in FormDescription.Fieldsets.Take(FixedGroups)) {
                        <CascadingValue Value="@fieldset">
                            <DryFormFieldset T="@T" />
                        </CascadingValue>
                    }
                </div>
                <div class="@ModelNameWebId description-properties">
                    @foreach(var fieldset in FormDescription.Fieldsets.Skip(FixedGroups)) {
                        <CascadingValue Value="@fieldset">
                            <DryFormFieldset T="@T" />
                        </CascadingValue>
                    }
                    <div class="content">
                        @ChildContent
                    </div>
                    @if(error != null) {
                        <div class="alert danger">
                            <h5><i></i> Error</h5>
                            @error
                        </div>
                    }
                    <div class="line">
                        <div class="field">
                            <DryButtonBar Commands="@Description.Commands" Target="@Model" />
                        </div>
                    </div>
                </div>
            </form>
        </CascadingValue>
    </CascadingValue>
}
