<div class="@CssClasses">
    @if(DisplayLabel) {
        <label class="label" @onclick="ToggleDescription" title="@Description" for="@For">
            <span class="text">@Label</span>
            @if(HasDescription) {
                <Icon CssClass="description" Key="has-description" />
            }
            @if(IsRequired) {
                <Icon CssClass="required" Key="is-required" />
            }
        </label>
    }
    @if(DisplayDescription) {
        <span class="description">@((MarkupString)HtmlDescription)</span>
    }
    @ChildContent
    @if(!IsValid) {
        <span class="invalid message">@Message</span>
    }
</div>
