@namespace ExtraDry.Blazor

@if(Visible) {
    <section class="mini-dialog curtain @StateClass @CssClass">
        @* Tabindex is required so the outer div can get focus, then respond to events *@
        <div class="mini-dialog form @StateClass @CssClass" @ref="Form" @onfocusout="OnFocusOut" @onfocusin="OnFocusIn" @onkeydown="OnKeyDown" tabindex="0">
            <header>
                @if(ShowTitle) {
                    <div class="title">
                        <h3>@Title</h3>
                    </div>
                }
                @if(ShowCancelButton) {
                    <div class="item commands">
                        <button class="cancel unobtrusive" @onclick="DoCancel">@((MarkupString)CancelButtonCaption)</button>
                    </div>
                }
            </header>
            <div class="content">
                <CascadingValue Value="@this">
                    @ChildContent
                </CascadingValue>
            </div>
            <footer>
                @if(ShowSubmitButton) {
                    <div class="form commands">
                        <button class="ok primary" @onclick="DoSubmit">@((MarkupString)SubmitButtonCaption)</button>
                    </div>
                }
            </footer>
        </div>
    </section>
}
