@page "/components/standard/tri-switch"

<section>
    <h2>TriSwitch</h2>
    <p>
        The <code>&lt;TriSwitch&gt;</code> component expresses a switch with three states.
    </p>
    <p>
        Uses the HTML 5 checkbox to control three states styled as a switch.  The indeterminate state in 
        HTML is only accessible via JavaScript and users cannot 'click' into this state.  In Blazor, this 
        indeterminate state can be set using this control with normal data binding.
    </p>
</section>
<section>
    <h3>Basic Usage</h3>
    <CodeBlock Lang="blazor">
        &lt;TriSwitch @@bind-value="@@Value" /&gt;
        &lt;div&gt;@@Value&lt;/div&gt;

        @@code {
            public TriSwitchState Value { get; set; } = TriSwitchState.On;
        }
    </CodeBlock>
    <p>
        <TriSwitch @bind-Value="@Value" />
        <div>@Value</div>
    </p>
    <CodeBlock Lang="blazor">
        &lt;TriSwitch @@bind-value="@@Value" Label="@@Label" /&gt;
        &lt;div&gt;@@Value&lt;/div&gt;

        @@code {
            public TriSwitchState Value { get; set; } = TriSwitchState.On;

            public string Label { get; set; } = "@Label";
        }
    </CodeBlock>
    <p>
        <TriSwitch @bind-value="@Value" Label="Three Choices!" />
        <div>@Value</div>
    </p>
    <h5>Try It Out</h5>
    <form class="tryitout" onsubmit="return false;">
        <div>
            <label>Value:</label>
            <select @bind="Value">
                <option value="@(TriSwitchState.On)">TriSwitchState.On</option>
                <option value="@(TriSwitchState.Off)">TriSwitchState.Off</option>
                <option value="@(TriSwitchState.Indeterminate)">TriSwitchState.Indeterminate</option>
            </select>
        </div>
    </form>
</section>
<section>
    <h3>See Also</h3>
    <ul>
        <li><a href="/components/standard/tri-check">TriCheck Component</a></li>
    </ul>
</section>

@code {
    public TriSwitchState Value { get; set; } = TriSwitchState.Indeterminate;

    public string Label { get; set; } = "Three Choices!";
}
