@page "/components/dry/dry-flexi-select"
@*@implements ISubjectViewModel<Employee>*@

<section>
    <h2>DryFlexiSelect</h2>
    <p>
        The <code>&lt;DryFlexiSelect&gt;</code> component is a dialog-based replacement for a select control.
    </p>
    <p>
        The component presents drop-down/pop-up mini-dialog that displays a list of elements.  This is
        designed to be styled responsively for mobile and desktop.  It support both single- and multi-
        select and filtering.
    </p>
</section>
<section>
    <h3>Enum Usage</h3>
    <CodeBlock Lang="blazor">
        &lt;DryFlexiSelect Model="@@this" PropertyName="@nameof(Status)" /&gt;
        &lt;div&gt;@@Status&lt;/div&gt;

        @@code {
            public CompanyStatus Status { get; set; }
        }
    </CodeBlock>
    <DryFlexiSelect Model="@this" PropertyName="@nameof(Status)" ShowFilterThreshold="2" />
    <div>@Status</div>
@*    <h3>Object Usage</h3>
    <CodeBlock Lang="blazor">
        &lt;DryFlexiSelect Model="@@this" PropertyName="nameof(Employee)" /&gt;

        @@code {
            private Employee Employee { get; set; }
        }
    </CodeBlock>
    <DryFlexiSelect Model="@this" PropertyName="Employee" />*@
</section>
<section>
    <h3>Configuration</h3>
    <p>
        This is a standalone component, no configuration is required.
    </p>
</section>
<section>
    <h3>Semantic Styles</h3>
    <p>The component wraps the <code>FlexiSelect</code> component and styles are the same as it.</p>
</section>
<section>
    <h3>Tips &amp; Practices</h3>
    <ul>
        <li>The component encapsulate the <code>MiniCard</code>, unused attributes are chained to that component.</li>
        <li>The component automatically detects if Thumbnail and Subtitle are present and displays or hides them accordingly.</li>
        <li>Use <code>ShowThumbnail</code> property to force always showing or hiding the Thumbnail.</li>
        <li>Use <code>ShowSubtitle</code> property to force always showing or hiding the Subtitle.</li>
    </ul>
</section>
<section>
    <h3>See Also</h3>
    <ul>
        <li><a href="/components/standard/flexi-select"><code>FlexiSelect</code> Component</a></li>
    </ul>
</section>

@code {

    public Employee Employee { get; set; }

    public CompanyStatus Status {
        get => status;
        set {
            status = value;
            StateHasChanged();
        }
    }
    private CompanyStatus status;

}
